<div class="card">
    <div class="card-body">
      <div class="h2">
        <!-- Имя автора -->
        {% if post_view %}
          {{ a_post.author.get_full_name }}
        {% elif profile_view %}
          {{ a_user.get_full_name }}
        {% endif %}
      </div>
      <div class="h3 text-muted">
        <!-- username автора -->
        {% if post_view %}
          @{{ a_post.author.username }}
        {% elif profile_view %}
          @{{ a_user.username }}
        {% endif %}
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: {% if post_view %}
                         {{ a_post.author.following.count }}
                       {% elif profile_view %}
                         {{ a_user.following.count }}
                       {% endif %}<br>
          Подписан: {% if post_view %}
                      {{ a_post.author.follower.count }}
                    {% elif profile_view %}
                      {{ a_user.follower.count }}
                    {% endif %}
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          <!--Количество записей -->
          Записей:
          {% if post_view %}
            {{ a_post.author.posts.count }}
          {% elif profile_view %}
            {{ a_user.posts.count }}
          {% endif %}

          {% if following %}
            <a class="btn btn-lg btn-light"
             href="{% url 'profile_unfollow' a_user.username %}" role="button"
             >
              Отписаться
            </a>
          {% elif self_following %}

          {% else %}
          <a
           class="btn btn-lg btn-primary"
           href="{% url 'profile_follow' a_user.username %}" role="button"
           >
            Подписаться
          </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>