<head>
  <style>
    .footer-link {
      color: teal;
      text-decoration: none
    }
    .footer-link:hover {
      color: maroon
    }
  </style>
</head>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <p class="m-0 text-dark text-center ">
    <a class="footer-link" href="{% url 'about:author' %}">Об авторе</a>
    |
    <a class="footer-link" href="{% url 'about:tech' %}">Технологии</a>
  </p>
  <p class="m-0 text-dark text-center ">
    Социальная сеть 
    <span style="color:teal">Ya</span>tube © {% now "Y" %}, 
    все права защищены.
  </p>
</footer>