<head>
  <style>
  .username-post-card,
  .group-name-post-card {
    color: teal;
    text-decoration: none;
  }
  .group-name-post-card:hover,
  .username-post-card:hover {
    color: maroon
  }
  </style>
</head>

<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
      <p class="card-text">
        <a class="username-post-card"
           href="{% url 'posts:profile' a_post.author.username %}">
          <h5 class="d-block">
            {% if a_post.author.get_full_name %}
            {{ a_post.author.get_full_name }}
          {% else %}
            @{{ a_post.author.username }}
          {% endif %}
          </h5>
        </a>
        <p>
          <small class="text-muted">
          {{ a_post.pub_date|date:"d b Y" }} в {{ a_post.pub_date|date:"G:i" }}
          {% if a_post.group %}
          в сообществе 
          <a class="group-name-post-card"
            href="{% url 'posts:group_posts' a_post.group.slug %}">
              {{ a_post.group }}
          </a>
          {% endif %}
        </small>
      </p>
        {% load thumbnail %}
        {% thumbnail a_post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        {{ a_post.text }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group ">

          <a class="btn btn-sm text-muted"
             href="{% url 'posts:post' a_post.id %}"
             role="button">
            Посмотреть пост
          </a>

          {% if authenticated_user %}
          <a class="btn btn-sm text-muted" 
             href="{%  url 'posts:post' a_post.id %}" 
             role="button">
            Добавить комментарий
          </a>
          {% endif %}

          {% if editing_permitted %}
          <a class="btn btn-sm text-muted"
             href="{% url 'posts:post_edit' a_post.id %}"
             role="button">
            Редактировать
          </a>
          {% endif %}
          
        </div>
        <small class="text-muted">
          {% comment %} здесь что-то в правом нижнем углу {% endcomment %}
        </small>
      </div>
    </div>
  </div>